spring:
  application:
    name: spring-boot-otel-demo

management:
  # enable scanning of observability annotations like @Observed, @Timed, @Counted, @MeterTag and @NewSpan
#  observations:
#    annotations:
#      enabled: true
  tracing:
    sampling:
      # 100% for dev, lower for production
      probability: 1.0
  otlp:
    metrics:
      export:
        url: http://localhost:4318/v1/metrics
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/traces
    logging:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/logs



logging:
  level:
    dev.danvega: INFO
    org.springframework.boot.actuator.autoconfigure.opentelemetry: DEBUG
    org.springframework.boot.docker.compose: DEBUG