services:
  # The All-in-One LGTM Stack
  grafana-lgtm:
    image: 'grafana/otel-lgtm:latest'
    ports:
    - "3000:3000"     # Grafana UI
    - "4317:4317"     # OTLP gRPC receiver
    - "4318:4318"     # OTLP HTTP receiver