spring:
  application.name: config-server-vault-agent-injector
  profiles:
    active: native, vault
  cloud:
    config:
      server:
        # makes sure that when you request `http :8888/config-server-client/dev` the `encrypted-message` is not decrypted
        encrypt:
          enabled: false
        native:
          # The default value of the searchLocations is identical to a local Spring Boot application
          # (that is, [classpath:/, classpath:/config, file:./, file:./config])
          search-locations:
            - file:/app/data/config
        vault:
          # connect to Vault Agent Sidecar
          host: 127.0.0.1
          port: 8200
          scheme: http
          kv-version: 2
          profile-separator: /
          authentication: TOKEN
          token: "placeholder-for-vault-agent"
          default-key: config-server-client
          backend: secret

management:
  endpoints.web.exposure.include: '*'
  endpoint:
    env:
      show-values: always
    configprops:
      show-values: always

server:
  port: 8080

logging.level:
  org.springframework.cloud: TRACE
  org.springframework.web: TRACE