spring:
  application.name: config-server-file-backend
  profiles:
    # using the file system backend
    # https://docs.spring.io/spring-cloud-config/reference/server/environment-repository/file-system-backend.html
    active: native
  cloud:
    config:
      server:
        # makes sure that when you request `http :8888/config-server-client/dev` the `encrypted-message` is not decrypted
        encrypt:
          enabled: false
        native:
          # The default value of the searchLocations is identical to a local Spring Boot application
          # (that is, [classpath:/, classpath:/config, file:./, file:./config])
          search-locations:
#            - classpath:/clients/
            # modify the path if necessary
            - file:${user.home}/projects/learning-spring/config-server/client-configs
            - file:${user.home}/projects/learning-spring/config-server/client-configs/secrets

encrypt:
  key: verysecret
  salt: deadbeef

management:
  endpoints.web.exposure.include: '*'

server:
  port: 8888

logging.level:
  org.springframework.cloud: DEBUG