apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server-vault-agent-injector
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-server-vault-agent-injector
  template:
    metadata:
      labels:
        app: config-server-vault-agent-injector
      annotations:
        # List of annotations: https://developer.hashicorp.com/vault/docs/deploy/kubernetes/injector/annotations

        # enables the Vault Agent Injector service
        vault.hashicorp.com/agent-inject: 'true'
        vault.hashicorp.com/agent-configmap: "vault-agent-config"
        vault.hashicorp.com/agent-extra-secret: "config-server-approle-creds"


    spec:
      containers:
        # container used only for testing
        - name: curl
          image: curlimages/curl:latest
          command: ["/bin/sh", "-c", "sleep 3600"]
          volumeMounts:
            - name: service-configs
              mountPath: /app/data/config

        - name: app
          image: config-server-vault-agent-injector:0.0.1-SNAPSHOT
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: service-configs
              mountPath: /app/data/config

      volumes:
        - name: service-configs
          configMap:
            name: service-configs
---
apiVersion: v1
kind: Service
metadata:
  name: config-server-vault-agent-injector
spec:
  selector:
    app: config-server-vault-agent-injector
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080